.timeline-with-icons {
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item::after {
    position: absolute;
    top: 0;
    display: block;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: $primary;
    background-color: $white;
    border-radius: 50%;
}
