$linkedin: #0a66c2;
$twitter: #1d9bf0;
$github: #000;
$gitlab: #d74027;
$symfony: #000;
$stack-overflow: #f48024;
$elephpant: #9d9d9c;

// Bootstrap
$primary: #292961;
$secondary: #383838;

$thumbnail-border-radius: 15rem;
$thumbnail-padding: 0;
$thumbnail-bg: #fff;

$navbar-toggler-focus-width: 0;

$nav-link-color: $secondary;
$nav-link-hover-color: #000;
$nav-pills-link-active-color: $primary;
$nav-pills-link-active-bg: none;
